* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.counter {
    font-size: 24px;
    margin-bottom: 10px;
}

.up, .down, .reset {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
}