* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    background-color: #1e1e1e;
    color: #e0e0e0;
}

.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#textInput {
    width: 300px;
    height: 40px;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #444;
    border-radius: 5px;
    background-color: #2d2d2d;
    color: #e0e0e0;
}

#textInput::placeholder {
    color: #888;
}

.add-btn {
    padding: 10px 20px;
    font-size: 25px;
    font-weight: bold;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.add-btn:hover {
    background-color: #218838;
}

.tasks {
    width: 300px;
    max-height: 400px;
    overflow-y: auto;
    border: 1px solid #444;
    border-radius: 5px;
    padding: 10px;
    background-color: #2d2d2d;
    scrollbar-width: none;
}

#notasks {
    text-align: center;
    color: #888;
    font-size: 16px;
}

.task {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #444;
}

.task:last-child {
    border-bottom: none;
}

.task-text {
    font-size: 16px;
    color: #e0e0e0;
}

.task-text.completed {
    text-decoration: line-through;
    color: #888;
}

.task-btns {
    display: flex;
    gap: 10px;
}

.delete-btn {
    padding: 5px 10px;
    font-size: 14px;
    font-weight: bolder;
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.delete-btn:hover {
    background-color: #c82333;
}

.done-btn {
    padding: 5px 10px;
    font-size: 14px;
    font-weight: bolder;
    background-color: gray;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
    transition: background-color 0.3s;
}

.done-btn:hover {
    background-color: #696969;
}