* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    padding: 20px 40px;
    outline: none;
    border: none;
    color: white;
    font-size: 24px;    
    background-color: teal;
    cursor: pointer;
    border-radius: 8px;
}